<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/bootstrap.min.css')}}" />
    <style>
     .content{ margin-top:4%
     }
     @media (max-width: 767px) {
	 .mainbox {
	     margin-top: 50px;
	 }

     }
     .shadow {
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }
     table td {
	 border-top: none !important;
     }
     table td #gstratediv {
	 border:1px solid grey !important;
	 padding:10px;
	 border-radius: 2px;
     }
     #gstaccountstable tbody tr td{
	 background-color:white;
	 font-weight:normal !important;
	 font-size:80% !important;
	 padding:15px;
     }
     #gstaccountstable tbody tr{
	 width:100%;
     }
     #gstaccountstable tbody{
	 display:block;
	 overflow-y:scroll;
	 height:60vh;
     }
     #gstaccountstable thead tr td{
	 font-size:80% !important;
     }
     .img-circle {
	 border-radius: 50%;
     }
     .img-thumbnail{
	 padding:50px !important;
     }
     .gstrate{
	 margin:10px;
     }
     .small {
	 font-weight:normal !important;
     }
     span {
	 margin:5.5 auto;
     }
     .state_del{
	 color:#000000;
     }
     .fa{
	 margin-right:5px;
     }
    </style>


  </head>
  <body>

    <div id="createtorg" class="mainbox" style="margin:0 !important; padding:0 !important;">
      <div class="alert alert-danger" id="orgname-blank-alert" aria-live="rude" role="alert" hidden>

        {% trans %}Please enter company name!{% endtrans %}
      </div>
      <div class="alert alert-danger" id="orgname-duplicate-alert" aria-live="rude" role="alert" hidden>

        {% trans %}Duplicate company name!{% endtrans %}
      </div>
      <div class="alert alert-danger" id="compare-date-alert" aria-live="rude" role="alert" hidden>

        <label for="viewledger_todate">{% trans %}Financial end date should be greater or equal to start date!{% endtrans %}</label>
      </div>
      <div class="alert alert-danger" id="date-blank-alert" aria-live="rude" role="alert" hidden>

        {% trans %}Please enter Date!{% endtrans %}
      </div>
      <div class="alert alert-danger" id="date-improper-alert" aria-live="rude" role="alert" hidden>

        {% trans %}Improper Date!{% endtrans %}
      </div>
      <div class="row panel shadow" >
        <div class="panel-heading">
          <div class="panel-title">
	    {% trans %}Company Setup Wizard{% endtrans %}<br>
	    <div style="font-size:90%;">{% trans %}This wizard will help you setup GNUKhata just the way you wish to manage your business.{% endtrans %}</div>
	  </div>
        </div>
        <div style="padding-top:20px" class="panel-body" >

          <form id="createorgform"  role="form">
	    <div class="col-sm-6 form-group">
              <label for="orgname">{% trans %}Company Name{% endtrans %} : </label>
              <input name="orgname" class="form-control orgfields" placeholder="Enter Company Name" id="orgname" type="text" data-validation-required-message="Please Enter Organisation Name"/>
              <br/>
              {% if locale =='en' or locale ==None %}

                <label for="orgcase">{% trans %}Case{% endtrans %} : </label>
                <select name="orgcase" class="form-control orgfields" id="orgcase">
                  <option value="As-Is">{% trans %}As{% endtrans %}-{% trans %}is{% endtrans %}</option>
                  <option value="Upper Case">{% trans %}Upper Case{% endtrans %}</option>
                  <option value="Lower Case">{% trans %}Lower Case{% endtrans %}</option>
                  <option value="Title Case">{% trans %}Title Case{% endtrans %}</option>
                </select>
                <br/>
              {% endif %}

						<div class=" row form-inline">
							<div class="col-sm-3">
							 <label for="orgtype">{% trans %}Company Type{% endtrans %} : </label>
							</div>
							<div id="orgtype" class="orgfields" data-validation-required-message="Please select Company Type">
									<div class="radio">
										<label><input type="radio"  name="selector" id="orgtypeprofit" value="Profit Making" checked> Profit Making</label>
									</div>
									<div class="radio" style="margin-left:15px" >
										<label><input type="radio" name="selector" value="Not For Profit"> Not For Profit</label>
									</div>
							</div>
						</div>	

							<!-- <select name="orgtype" class="form-control orgfields" id="orgtype" data-validation-required-message="Please select Company Type">
                <option value="Profit Making">{% trans %}Profit Making{% endtrans %}</option>
                <option value="Not For Profit">{% trans %}Not For Profit{% endtrans %}</option>
              </select> -->

              <br/>

              <label for="financialdate">{% trans %}Financial Year{% endtrans %} : </label>

              <div class="form-inline">

                <label class="sr-only" for="fromday">{% trans %}Enter From Day{% endtrans %}</label>
                <input type="text" id="fromday" name="fromday" class="form-control vdate orgfields" size="2" maxlength="2" style="width:60px"  placeholder="DD">

                <label class="sr-only" for="frommonth">{% trans %}Enter From Month{% endtrans %}</label>
                <input type="text" id="frommonth" name="frommonth" class="form-control vdate orgfields" size="2" maxlength="2" style="width:60px"  placeholder="MM" >

                <label class="sr-only" for="fromyear">{% trans %}Enter From Year{% endtrans %}</label>
                <input type="text" id="fromyear" name="fromyear" class="form-control vdate orgfields" size="4" maxlength="4" style="width:65px"  placeholder="YYYY"  >

                <label>--{% trans %}To{% endtrans %}--</label>

                <label class="sr-only" for="today">{% trans %}Enter To Day{% endtrans %}</label>
                <input type="text" id="today" name="day" class="form-control vdate orgfields" size="2" maxlength="2" style="width:60px"  placeholder="DD" >

                <label class="sr-only" for="tomonth">{% trans %}Enter To Month{% endtrans %}</label>
                <input type="text" id="tomonth" name="tomonth" class="form-control vdate orgfields" size="2" maxlength="2" style="width:60px"  placeholder="MM"  >

                <label class="sr-only" for="toyear">{% trans %}Enter To Year{% endtrans %}</label>
                <input type="text" id="toyear" name="toyear" class="form-control vdate orgfields" size="4" maxlength="4" style="width:65px"  placeholder="YYYY"  >

              </div>
	      <br>
	    </div>
	    <div class="col-sm-6 form-group">
	      <div class="form-group">
		<label >{%trans%}How would you like to use GNUKhata?{%endtrans%}</label><br>
		<div class="radio">
        	  <label><input type="radio" class="iib orgfields" name="iib" id="onlyaccradio" aria-label="">&nbsp {% trans %}Accounting only{% endtrans %}.</label>
        	</div>
		<div class="radio">
        	  <label><input type="radio" class="iib orgfields" name="iib" id="onlyinvsradio" aria-label="" checked>&nbsp {% trans %}Accounting with Invoicing{% endtrans %}.</label>
        	</div>
		<div class="radio">
        	  <label><input type="radio" class="iib orgfields" name="iib" id="invsbillradio" aria-label="">&nbsp {% trans %}Invoicing with Billwise Accounting{% endtrans %}.</label>
        	</div>
        	<div class="radio">
        	  <label><input type="radio" class="iib orgfields" name="iib" id="invinvsbillradio" aria-label="" >&nbsp {% trans %}Inventory with Invoicing and Billwise Accounting{% endtrans %}.</label>
        	</div>
		<small id="txtareahelp" class="form-text text-muted">{% trans %}Use 'Up' & 'Down' arrow keys to navigate and press 'Enter' key to proceed .{% endtrans %}</small><br>
	      </div>
		<div class="form-group">
			<input type="checkbox" id="mode" checked>
			<label for="mode">{% trans %}Use automatic mode for Receipt and Payment Vouchers {% endtrans %}</label>
		</div>
	      <div id="ledgerdiv">
		<div class="form-group">
		  <input type="checkbox" id="sales" checked>
		  <label for="sales">{%trans%}Generate Sales & Purchase Vouchers for Invoices{%endtrans%}</label>
		</div>
		<div class="form-inline">
		  <div class="radio">
        	    <label><input type="radio" class="ledger nopadding orgfields" name="ledger" id="singlesales" aria-label="">&nbsp {% trans %}Single Sales/Purchase Ledger{% endtrans %}.</label>
        	  </div>
		  <div class="radio">
        	    <label><input type="radio" class="ledger nopadding orgfields" name="ledger" id="multiplesales" aria-label="" checked>&nbsp {% trans %}Per Product Sale/Purchase Ledger{% endtrans %}.</label>
		  </div>
		</div>
	      </div>
	      <br><br>
	      <div class="voucherno">
		<div class="form-group">
		  <input type="checkbox" id="avno">
		  <label for="avno">{%trans%}Use System Generated Voucher No.{%endtrans%}</label>
		</div>
	      </div>
	    </div>
          </form>
        </div>
	<div class="row col-md-12 pull-right">
	  <button class="btn btn-success" id="btnsubmit" type="submit" accesskey="p" style="margin-right:10px; margin-bottom:10px; float:right;"><span class="glyphicon glyphicon-arrow-right"></span>{% trans %}<u>P</u>roceed{% endtrans %}</button>
	</div>
      </div>
    </div>
    <div id="addorg">
      <div class="container-fluid">
	<div class="mainbox">

	  <div class="panel shadow" >
	    <div class="panel-heading">
	      <div class="panel-title" style="text-align:center;">{% trans %}Edit Profile{% endtrans %}
		<i class="fa fa-question-circle pull-right" style="font-size:16px;color:white;"data-toggle="modal" data-target="#OrgModal"></i></div>
	    </div>
            
	    <div style="padding-top:5px" class="panel-body" >
	      <div class="alert alert-danger" id="date-alert"  aria-live="rude" role="alert" hidden>

		<label for="viewledger_fromdate">{% trans %}Please enter date in proper format!{% endtrans %}</label>
	      </div>
	      <div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>

		{% trans %}Company profile edited successfully.{% endtrans %}
	      </div>
	      <div class="alert alert-danger" id="pan-incorrect-alert"  aria-live="rude" role="alert" hidden>

		{% trans %}Please enter proper PAN!{% endtrans %}

	      </div>
	      <div class="alert alert-danger" id="email-incorrect-alert"  aria-live="rude" role="alert" hidden>

		{% trans %}Please enter proper email!{% endtrans %}

	      </div>

	      <div class="alert alert-danger" id="allbank-blank-alert"  aria-live="rude" role="alert" hidden>

		{% trans %}Please fill all the fields of Bank Details.{% endtrans %}

	      </div>

	      <div class="alert alert-danger" id="gstin-improper-alert"  aria-live="rude" role="alert" hidden>

		{% trans %}Improper GSTIN!{% endtrans %}

	      </div>

	      <div class="alert alert-danger" id="connectionfailed"  aria-live="rude" role="alert" hidden>

 		{% trans %}Connection Failed.{% endtrans %}
	      </div>
	      
	      <div class="col-xs-12 from-group">
		<center>
		  <div class="img-thumbnail img-circle ">

		    <div style="position: relative; padding: 0; cursor: pointer;" type="file">
		      <img class="img-circle"  style="width: 100px !important; height: 100px !important;" id="imgbox">
		      <canvas id="imgcanvas" hidden></canvas>


		    </div>
		</center>
		  </div>
	      </div>
	      <center>
		<label class="btn btn-primary btn-sm" for="my-file-selector">
		  <input name="img"  class="input-sm" accesskey="o" id="my-file-selector" type="file" accept="image/*" style="display:none;" onchange="$('#upload-file-info').html('New Logo selected');" >
		  {% trans %}Upload L<u>o</u>go{% endtrans %}
		</label>
		<span class='label label-info' id="upload-file-info"></span>
	      </center>
	      <form id="editorganisationform" method="post" class="form-inline">
		<div class="col-xs-6 from-group" >
		  <table id="editorgtable" class="table">
		    <tbody>
		      <!--  -->
			<tr class="noprofit">
			  <td>
			    <label for="registrationnumber" id="regno">{% trans %}Registration Number{% endtrans %} :</label>
			  </td>
			  <td>
			    <input type="text" id="orgregno" class="form-control input-sm" name="registrationnumber" value="" style="width: 100%"></input>
			  </td>
			</tr>
			<tr class="noprofit">
			  <td>
			    <label for="fcrano" id="fcranumber">{% trans %}FCRA Registration Number{% endtrans %} :</label>
			  </td>
			  <td>
			    <input type="text" id="orgfcrano" class="form-control input-sm" name="fcranumber" value="" style="width: 100%"></input>
			  </td>
			</tr>
		      <!--  -->
		      <tr>
			<td>
			  <label for="organisationaddress" id="orgaddress">{% trans %}Address{% endtrans %} :</label>
			</td>
			<td>
			  <input type="text" id="orgaddr" class="form-control input-sm" name="organisationaddress" value="" style="width: 100%"></input>
			</td>
		      </tr>
		      <tr>
			<td>
			  <label for="organisationcity" id="orgCity">{% trans %}City{% endtrans %} :</label>
			</td>
			<td>
			  <input type="text" id="orgcity" class="form-control input-sm" name="organisationcity" value="" style="width: 100%"></input>
			</td>
		      </tr>
		      <tr>
			<td>
			  <label for="organisationstate" id="orgState">{% trans %}State{% endtrans %} :</label>
			</td>
			<td>
			  <input type="text" id="state"  value="" hidden></input>
			  <select id="orgstate" class="form-control input-sm col-sm-8" style="width: 100%">
			    <option value="" hidden disabled selected stateid="">Select State</option>
			    {% for state in states %}
			      {% for key, value in state.items() %}
				<option value="{{value}}" stateid="{{key}}">{{value}}</option>
			      {% endfor %}
			    {% endfor %}
			  </select>
			  
			</td>
		      </tr>
		      <tr>
			<td>
			  <label for="organisationcountry" id="orgCountry">{% trans %}Country{% endtrans %} :</label>
			</td>
			<td>
			  <input type="text" id="orgcountry" class="form-control input-sm" name="organisationcountry" value="" style="width: 100%"></input>
			</td>
		      </tr>
		      <tr>
			<td>
			  <label for="organisationpincode" id="orgpostalcode">{% trans %}Postal Code{% endtrans %} :</label>
			</td>
			<td>
			  <input type="text" id="orgpincode" class="form-control input-sm" name="organisationpincode" value="" style="width: 100%"></input>
			</td>
		      </tr>
		      <tr>
			<td>
			  <label for="telephonenumber" id="telno">{% trans %}Contact Number{% endtrans %} :</label>
			</td>
			<td>
			  <input type="text" id="orgtelno" class="form-control input-sm" size="11" maxlength="11" name="telephonenumber" value="" style="width: 100%"></input>
			</td>
		      </tr>
		      <tr>
			<td>
			  <label for="organisationwebsite" id="orgWebsite">{% trans %}Website{% endtrans %} :</label>
			</td>
			<td>
			  <input type="text" id="orgwebsite" class="form-control input-sm" name="organisationwebsite" value="" style="width: 100%"></input>
			</td>
		      </tr>
		    </tbody>
		  </table>
		</div>
		<div class="col-xs-6 from-group">
		  <table id="editprofiletable" class="table">
		    <tbody>
		      <!--  -->
		      <tr class="noprofit">
			  <td>
			    <label for="registrationdate">{% trans %}Date Of Registration{% endtrans %} :</label>
			  </td>
			  <td>
			    <label class="sr-only" for="regday">{% trans %}Enter Registrtion Day{% endtrans %}</label>
			    <input type="text"  id="regday" name="registrationday" class="form-control regdate" size="2" maxlength="2" style="width:60px"  placeholder="DD" value=""  style="width: 100%"> </input>

			    <label class="sr-only" for="regmonth">{% trans %}Enter Registration Month{% endtrans %}</label>
			    <input type="text" id="regmonth" name="registrationmonth" class="form-control regdate" size="2" maxlength="2" style="width:60px"  placeholder="MM" value="" style="width: 100%"></input>

			    <label class="sr-only" for="regyear">{% trans %}Enter Registration Year{% endtrans %}</label>
			    <input type="text" id="regyear" name="registrationyear" class="form-control regdate" size="4" maxlength="4" style="width:65px"  placeholder="YYYY"  value="" style="width: 100%"></input>
			  </td>
			</tr>
			<tr class="noprofit">
			  <td>
			    <label for="registrationdate">{% trans %}Date Of FCRA Registration{% endtrans %} :</label>
			  </td>
			  <td>
			    <label class="sr-only" for="fcraregday">{% trans %}Enter FCRA Registrtion Day{% endtrans %}</label>
			    <input type="text" id="fcraregday" name="fcraregistrationday" class="form-control regdate" size="2" maxlength="2" style="width:60px"  placeholder="DD" value="" style="width: 100%"></input>

			    <label class="sr-only" for="fcraregmonth">{% trans %}Enter FCRA Registration Month{% endtrans %}</label>
			    <input type="text" id="fcraregmonth" name="fcraregistrationmonth" class="form-control regdate" size="2" maxlength="2" style="width:60px"  placeholder="MM" value="" style="width: 100%"></input>

			    <label class="sr-only" for="fcraregyear">{% trans %}Enter FCRA Registration Year{% endtrans %}</label>
			    <input type="text" id="fcraregyear" name="fcraregistrationyear" class="form-control regdate" size="4" maxlength="4" style="width:65px"  placeholder="YYYY"  value="" style="width: 100%"></input>
			  </td>
			</tr>
		      <tr>
			<td>
			  <label for="organisationemail" id="orgEmail">{% trans %}Email{% endtrans %} :</label>
			</td>
			<td>
			  <input type="text" id="orgemail" class="form-control input-sm" name="organisationemail" value="" style="width: 100%"></input>
			</td>
		      </tr>
		      <tr>
			<td>
			  <label for="organisationfax" id="orgfaxno">{% trans %}Fax Number{% endtrans %} :</label>
			</td>
			<td>
			  <input type="text" id="orgfax" class="form-control input-sm" name="organisationfaxnumber" value="" style="width: 100%"></input>
			</td>
		      </tr>
		      <tr>
			<td>
			  <label for="organisationpannumber" id="orgpanno">{% trans %}PAN{% endtrans %} :</label>
			</td>
			<td>
			  <input type="text" id="orgpan" class="form-control input-sm" name="organisationpannumber" value="" style="width: 100%" maxlength="10"></input>
			</td>
		      </tr>
			<tr class="vat">
			  <td>
			    <label for="organisationmvat" id="orgvatno" class="tinfield">{% trans %}VAT Number{% endtrans %} :</label>
			  </td>
			  <td>
			    <input type="text" id="orgmvat" class="form-control input-sm tinfield" name="organisationmvat" value="" style="width: 100%"></input>
			  </td>
			</tr>
			<tr>
			  <td>
			    <label for="organisationstaxnumber" id="orgstaxnumber">{% trans %}Service Tax Number{% endtrans %} :</label>
			  </td>
			  <td>
			    <input type="text" id="orgstax" class="form-control input-sm" name="organisationstaxnumber" value="" style="width: 100%"></input>
			  </td>
			</tr>
			<tr class="gst">
			  <td>
			    <label for="organisationgstin" id="orggstinlbl" class="gstinfield">{% trans %}GSTIN{% endtrans %} :</label>
			  </td>
			  <td>
			    <button class="btn btn-primary btn-sm gstinfield" type="button" id="orggstin"  data-toggle="modal" data-target="#addgstinmodal"><i class="fa fa-plus" aria-hidden="true" accesskey="g"></i> {% trans %}Add <u>G</u>STIN{% endtrans %}</button>
			  </td>
			</tr>
		      <tr>
			<td>
			  <label for="orgbankdetails" id="orgbkdel" class="bankdel">{% trans %}Bank Details{% endtrans %} :</label>
			</td>
			<td>
			  <button class="btn btn-primary btn-sm bankdel" type="button" id="orgbankdel"  data-toggle="modal" data-target="#addbankdel" accesskey="k"><i class="fa fa-plus" aria-hidden="true"></i> {% trans %}Add Ban<u>k</u> Details{% endtrans %}</button>
			</td>
		      </tr>
			<tr class="gst">
			  <td colspan="2">
			    <div class="row" id="gstratediv">
			      <div class="small">
				{% trans %}Select GST rate(s), the software will create GST ledger account(s).{% endtrans %}
			      </div>
			      <div class="small">
				<label>{% trans %}GST Rates{% endtrans %}: </label>
				<input type="checkbox" class="gstrate" data-taxrate="5"><label>5%</label>
				<input type="checkbox" class="gstrate" data-taxrate="12"><label>12%</label>
				<input type="checkbox" class="gstrate" data-taxrate="18"><label>18%</label>
				<input type="checkbox" class="gstrate" data-taxrate="28"><label>28%</label>
				<div class="form-group pull-right">
				  <label>{% trans %}Cess Rates{% endtrans %}: </label>
				  <button type="button" class="btn btn-sm btn-primary" data-toggle="popover" title="{% trans %}Add Cess Rates{% endtrans %}:" data-placement="top" data-content="{% trans %}Enter rates in the field below. Click '+' button or press 'Enter' key to add more.{% endtrans %}">{% trans %}Add{% endtrans %} <i class="fa fa-plus" aria-hidden="true" accesskey="a"></i></button>
				</div>
			      </div>
			    </div>
			  </td>
			</tr>
		    </tbody>
		  </table>
		</div>
		<div class="container-fluid" style="margin-bottom:10px;">
		  <button type="button" class="btn btn-success btn-sm" id="submit" name="submit" accesskey="e" style="float:right;"><i class="fa fa-arrow-right" aria-hidden="true"></i> {% trans %}Proc<u>e</u>ed{% endtrans %}</button>
		  <button id="back" type="button" class="btn btn-danger btn-sm" accesskey="b" style="float:right; margin-right:5px;"><i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans %}<u>B</u>ack{% endtrans %}</button>
		</div>
	      </form>
	    </div>
	  </div>
	</div>
	  <div style="padding-top:15px" class="mainbox col-md-2"></div>
	</div>
      </div>
    </div>
    <div id="createadmin" hidden >
      <div id="loginbox"  class="mainbox col-md-4 col-md-offset-4">
	<div class="panel shadow" style="align:center;" >
	  <div class="panel-heading">
	    <div class="panel-title">{% trans %}Create Admin{% endtrans %}
	      <i class="fa fa-question-circle pull-right" style="font-size:16px;color:white; " data-toggle="modal" id="csh" data-target="#adminModal"></i>
	    </div>
	  </div>

	  <div style="padding-top:30px" class="panel-body" >
	    <form id="loginform" method="post" class="form-horizontal">
	      <div class="alert alert-danger" id="usrname-blank-alert" hidden>
		<a href="#" class="close" aria-label="close">&times;</a>
		{% trans %}Please enter username!{% endtrans %}
	      </div>
	      <div class="alert alert-danger" id="pasword-blank-alert" hidden>
		<a href="#" class="close" aria-label="close">&times;</a>
		{% trans %}Please enter password!{% endtrans %}
	      </div>
	      <div class="alert alert-danger" id="confpass-blank-alert" hidden>
		<a href="#" class="close" aria-label="close">&times;</a>
		{% trans %}Please re-enter password!{% endtrans %}
	      </div>
	      <div class="alert alert-danger" id="checkpass-blank-alert" hidden>
		<a href="#" class="close" aria-label="close">&times;</a>
		{% trans %}Password not confirmed!{% endtrans %}
	      </div>
	      <div class="alert alert-danger" id="secuque-blank-alert" hidden>
		<a href="#" class="close" aria-label="close">&times;</a>
		{% trans %}Please enter security question!{% endtrans %}
	      </div>
	      <div class="alert alert-danger" id="secuans-blank-alert" hidden>
		<a href="#" class="close" aria-label="close">&times;</a>
		{% trans %}Please enter the answer of security question!{% endtrans %}
	      </div>


	      <div style="margin-bottom: 5px" class="col-xs-12 from-group">


		<label for="username">{% trans %}Username{% endtrans %} : </label>
		<input type="text" id="username" class="form-control adminfields" name="username"></input>
		<br/>
		<label for="password">{% trans %}Password{% endtrans %} : </label>
		<input type="password" id="password" class="form-control adminfields" name="password"></input>
		<br/>
		<label for="confirmpassword">{% trans %}Confirm Password{% endtrans %} : </label>
		<input type="password" name="confirmpassword" id="confirmpassword" class="form-control adminfields" value=""></input>
		<br/>
		<label for="securityanswer">{% trans %}Security Question{% endtrans %} : </label>
		<input type="text" class="form-control adminfields" value="" id="securityquestion" name="securityquestion"></input>
		<br/>
		<label for="securityanswer">{% trans %}Answer to  Security Question{% endtrans %} : </label>
		<input type="text" class="form-control  adminfields" value="" id="securityanswer" name="securityanswer" accesskey="a"></input>
		<input type="hidden" class="form-control" value="{{orgname}}" id="orgname" name="orgname"></input>
		<input type="hidden" class="form-control" value="{{orgtype}}" id="orgtype" name="orgtype"></input>
		<input type="hidden" class="form-control" value="{{invflag}}" id="invflag" name="invflag"></input>
		<input type="hidden" class="form-control" value="{{invsflag}}" id="invsflag" name="invsflag"></input>
		<input type="hidden" class="form-control" value="{{billflag}}" id="billflag" name="billflag"></input>
		<input type="hidden" class="form-control" value="{{fromdate}}" id="yearstart" name="yearstart"></input>
		<input type="hidden" class="form-control" value="{{todate}}" id="yearend" name="yearend"></input>
		<br/>
		<button type="button" id="backtoprofile" class="btn btn-danger" accesskey="k"><i class="fa fa-arrow-left" aria-hidden="true"></i>{% trans %}Bac<u>k</u>{% endtrans %}</button>
		<button type="button" id="createlogin" class="btn btn-success" accesskey="l"><i class="fa fa-floppy-o" aria-hidden="true"></i>{% trans %}Create & <u>L</u>ogin{% endtrans %}</button>
	      </div>
	    </form>
	  </div>
	</div>
      </div>

    </div>
    <div id="OrgModal"  tabindex="-1" class="modal fade" role="dialog"style="width:650px; margin-top: 150px; margin-left:325px;;"  aria-hidden="true">
      <div class="modal-dialog bgcolor">
	<div class="modal-content ">
	  <div class="modal-header">
	    {% trans %}<strong>Help!</strong>{% endtrans %}
	    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	      <span aria-hidden="true">&times;</span>
	    </button> </div>
	  <div class="modal-body" style="text-align: justify; text-justify: inter-word;">

	    <p>   <font color=" #566573"> {%trans%}

	      This screen helps you edit or update profile.</br>
	      You can use enter key to navigate forward and up arrow to navigate backward.</br>
	      Note that the default tab and shift + tab shortcuts are also available for navigation.
{% endtrans %} </font>

	    </p>
	  </div>

	</div>
      </div>
    </div>
    <div id="spinmodal" tabindex="-1" class="modal text-center fade" role="dialog">
      <div class="vertical-alignment-helper">
	<div class="modal-content vertical-align-center">
	  <div class="modal-body">
	    <i class="fa fa-spinner fa-spin" style="color:white; font-size:50px"></i>
	  </div>
	</div>
      </div>
    </div>
    <div id="adminModal" tabindex="-1" class="modal fade" style="width:650px; margin-top: 150px; margin-left:300px;" role="dialog">
      <div class="modal-dialog bgcolor">
	<div class="modal-content ">
	  <div class="modal-header">
	    {% trans %}<strong>Help!</strong>{% endtrans %}
	    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	      <span aria-hidden="true">&times;</span>
	    </button> </div>
	  <div class="modal-body" style="text-align: justify; text-justify: inter-word;">

	    <p>   <font color=" #566573"> {%trans%}

	      This screen let's you create an administrator user.
	      You should enter username password and also a security question and answer.
	      You can press enter to go ahead from one field to other and up arrow to go one field backwards.
	      After this screen the main window will appear.{% endtrans %} </font>

	    </p>
	  </div>

	</div>
      </div>
    </div>
    <div id="gstaccountsmodal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog" style="display:block; width:85%">
	<div class="modal-content">
          <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	    <div class="modal-title">
	      {% trans %}GST Accounts created under subgroup 'Duties & Taxes' of group 'Current Liabilities'{% endtrans %} :
	    </div>
          </div>
          <div class="modal-body">
	    <table id="gstaccountstable" class="table table-striped fixed-table">
	      <tbody>
	      </tbody>
	    </table>
	  </div>
	</div>
      </div>
    </div>
    <div id="addgstinmodal" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
	<div class="modal-content">
          <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	    <div class="modal-title">
	      {% trans %}GSTIN{% endtrans %} :
	    </div>
          </div>
          <div class="modal-body">
	    <div class="alert alert-danger" id="state-blank-alert"  aria-live="rude" role="alert" hidden>
	      {% trans %}Please select State!{% endtrans %}
	    </div>
	    <div class="alert alert-danger" id="panno-blank-alert"  aria-live="rude" role="alert" hidden>
      	      {% trans %}Please enter proper GSTIN!{% endtrans %}
	    </div>
	    <div class="alert alert-danger" id="gstin-improper-modal"  aria-live="rude" role="alert" hidden>
	      {% trans %}Improper GSTIN!{% endtrans %}
	    </div>
	    <div class="alert alert-danger" id="gstin-blank-alert"  aria-live="rude" role="alert" hidden>
	      {% trans %}Please Enter GSTIN.{% endtrans %}	
	    </div>
	    <div class="panel">
	      <div class="panel-body gstinclass">
		<table id="gstintable" class="table table-condensed table-bordered fixed-table">
		  <thead class="bg-primary input-sm">
		    <tr>
		      <th class="col-xs-5 text-center">{% trans %}State{% endtrans %}</th>
		      <th class="col-xs-5 text-center">{% trans %}GSTIN{% endtrans %}</th>
		      <th class="col-xs-1"></th>
		      <th class="col-xs-1"></th>
		    </tr>
		  </thead>
		  <tbody>

		    <tr>
		      <td class="col-xs-5">
			<select class="form-control input-sm gstinstate">
			  <option value="" disabled hidden selected>Select State</option>
			  {% for state in states %}
			    {% for key, value in state.items() %}
			      <option value="{{value}}" stateid="{{key}}">{{value}}</option>
			    {% endfor %}
			  {% endfor %}
			</select>
		      </td>
		      <td class="col-xs-5">
			<div class="form-inline nopadding">
			  <div class="form-group nopadding">
			    <input type="text" class="form-control input-sm nopadding statecode" size="2" maxlength="2" disabled >
			    <input type="text" class="form-control input-sm nopadding panno" size="10" maxlength="10">
			    <input type="text" class="form-control input-sm nopadding gstin" size="3" maxlength="3">
			  </div>
			</div>
		      </td>
		      <td class="col-xs-1">
		      </td>
		      <td class="col-xs-1">
			
		      </td >
		    </tr>
		    
		  </tbody>
		</table>
		<div>
		  <small id="donehelp" class="form-text text-muted"> Press 'Esc' when you are done.</small>
                </div>
	      </div>
              
	    </div>

	    <div class="panel-footer">
	      <div class="container-fluid">
		<button class="btn btn-success btn-sm" id="gstin_done" data-toggle="tooltip" data-placement="top" ><i class="fa fa-check" aria-hidden="true" accesskey="d"></i>{% trans %} <u>D</u>one{% endtrans %}</button>
		{#<button id="gstinmod_reset" class="btn btn-warning btn-sm" accesskey="">{% trans %}<i class="fa fa-refresh" aria-hidden="true"></i> Reset{% endtrans %}</button>#}
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>

    <!-- Bank Details -->
    <div id="addbankdel" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog">
	<div class="modal-content">
          <div class="modal-header">
	    <button type="button" class="close" data-dismiss="modal">&times;</button>
	    <div class="modal-title">
	      {% trans %}BANK DETAILS{% endtrans %} :
	    </div>
          </div>
          <div class="modal-body">
	    <div class="alert alert-danger" id="bankdetails-improper-modal"  aria-live="rude" role="alert" hidden>
	      {% trans %}Please fill all the fields of Bank Details.{% endtrans %}
	    </div>

            <div class="alert alert-danger" id="bankname-improper-modal"  aria-live="rude" role="alert" hidden>
	      {% trans %}Please enter the Bank Name.{% endtrans %}
	    </div>

	    <div class="alert alert-danger" id="accno-improper-modal"  aria-live="rude" role="alert" hidden>
	      {% trans %}Please enter an account  number.{% endtrans %}
	    </div>

	    <div class="alert alert-danger" id="both-improper-modal"  aria-live="rude" role="alert" hidden>
	      {% trans %}Please enter an Account Number and the Bank Name{% endtrans %}
	    </div>

	    <div class="alert alert-danger" id="branchname-improper-modal"  aria-live="rude" role="alert" hidden>
	      {% trans %}Please enter the Branch Name.{% endtrans %}
	    </div>

	    <div class="alert alert-danger" id="both1-improper-modal"  aria-live="rude" role="alert" hidden>
	      {% trans %}Please enter Account Number, Bank Name and the Branch Name.{% endtrans %}
	    </div>

	    <div class="alert alert-danger" id="both2-improper-modal"  aria-live="rude" role="alert" hidden>
	      {% trans %}Please enter the Bank Name and Branch Name{% endtrans %}
	    </div>

	    <div class="alert alert-danger" id="both3-improper-modal"  aria-live="rude" role="alert" hidden>
	      {% trans %}Please enter an Account Number and Branch Name{% endtrans %}
	    </div>

	    <div class="alert alert-danger" id="ifsc-improper-modal"  aria-live="rude" role="alert" hidden>
	      {% trans %}Please enter an IFSC Code{% endtrans %}
	    </div>
	    
	    <table id="banktable" class="table fixed-table">
	      <tbody>
		<tr>
		  <td class="col-xs-6">
		    <label for="bankaccount number" id="accno">{% trans %}Account Number{% endtrans %} :</label>
		  </td>
		  <td class="col-xs-6">
		    <input  type="text" id="accnum" class="form-control input-sm bankdel" name="bankaccountno" value="" style="width: 100%"></input>
		  </td>
		</tr>
		<tr>
		  <td>
		    <label for="bank name" id="banknm">{% trans %}Bank Name{% endtrans %} :</label>
		  </td>
		  <td>
		    <input type="text" id="bank_name" class="form-control input-sm bankdel" name="bankname" value="" style="width: 100%"></input>
		  </td>
		</tr>
		<tr>
		  <td>
		    <label for="bankbranch name" id="branchnm">{% trans %}Branch Name{% endtrans %} :</label>
		  </td>
		  <td>
		    <input type="text" id="branch_name" class="form-control input-sm bankdel" name="branchname" value="" style="width: 100%"></input>
		  </td>
		</tr>
		<tr>
		  <td>
		    <label for="bankIFSC code" id="ifsc">{% trans %}IFSC Code{% endtrans %} :</label>
		  </td>
		  <td>
		    <input type="text" id="ifsc_code" class="form-control input-sm bankdel" name="bankifsc" value="" style="width: 100%"></input>
		  </td>
		</tr>
	      </tbody>
	    </table>
	    <div>
	      <small id="donehelp" class="form-text text-muted"> Press 'Esc' when you are done.</small>
            </div>
	    <div class="panel-footer">
	      <div class="container-fluid">
		<button class="btn btn-success btn-sm" id="bankdel_done" data-toggle="tooltip" data-placement="top" ><i class="fa fa-check" aria-hidden="true" accesskey="n"></i>{% trans %} Do<u>n</u>e{% endtrans %}</button>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
      <div style="padding-top:15px" class="mainbox col-md-2"></div>
    </div>

	  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.autotab.min.js')}}"></script>
	  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.validate.min.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/createorg.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/date.js')}}"></script>

  </body>
</html>
