<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title></title>
  <style type="text/css">
  .modal-dialog{
    position: relative;
    display: table; //This is important
    overflow-y: auto;
    overflow-x: auto;
    width: auto;
    min-width: 55%;
  }


  .selected
  {
    background-color: Aquamarine;
  }

  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  td {
    font-size: 65%;
  }

  th {
    font-size: 70%;
  }
  /*
  Force table width to 100%
  */
  table.table-fixedheader {
    width: 100%;
  }
  /*
  Set table elements to block mode.  (Normally they are inline).
  This allows a responsive table, such as one where columns can be stacked
  if the display is narrow.
  */
  table.table-fixedheader, table.table-fixedheader>thead, table.table-fixedheader>tbody, table.table-fixedheader>tfoot, table.table-fixedheader>thead>tr, table.table-fixedheader>tbody>tr, table.table-fixedheader>tfoot>tr, table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>tr>td, table.table-fixedheader>tfoot>tr>td {
    display: block;
  }
  table.table-fixedheader>thead>tr:after, table.table-fixedheader>tbody>tr:after, table.table-fixedheader>tfoot>tr:after  {
    content:' ';
    display: block;
    visibility: hidden;
    clear: both;
  }
  /*
  When scrolling the table, actually it is only the tbody portion of the
  table that scrolls (not the entire table: we want the thead to remain
  fixed).  We must specify an explicit height for the tbody.  We include
  100px as a default, but it can be overridden elsewhere.

  Also, we force the scrollbar to always be displayed so that the usable
  width for the table contents doesn't change (such as becoming narrower
  when a scrollbar is visible and wider when it is not).
  */
  table.table-fixedheader>tbody {
    overflow-y: scroll;
    height: 40vh;

  }
  /*
  We really don't want to scroll the thead contents, but we want to force
  a scrollbar to be displayed anyway so that the usable width of the thead
  will exactly match the tbody.
  */
  table.table-fixedheader>thead, table.table-fixedheader>tfoot {
    overflow-y: scroll;
    height: 26px;
    width: 99.3%;
  }
  /*
  For browsers that support it (webkit), we set the background color of
  the unneeded scrollbar in the thead to make it invisible.  (Setting
  visiblity: hidden defeats the purpose, as this alters the usable width
  of the thead.)
  */
  table.table-fixedheader>thead::-webkit-scrollbar {
    background-color: inherit;
  }


  table.table-fixedheader>thead>tr>th:after, table.table-fixedheader>tbody>tr>td:after, table.table-fixedheader>tfoot>tr>td:after {
    content:' ';
    display: table-cell;
    visibility: hidden;
    clear: both;
  }

  /*
  We want to set <th> and <td> elements to float left.
  We also must explicitly set the width for each column (both for the <th>
  and the <td>).  We set to 20% here a default placeholder, but it can be
  overridden elsewhere.
  */

  table.table-fixedheader>thead tr th, table.table-fixedheader>tbody tr td, table.table-fixedheader>tfoot tr td {
    float: left;

  }
  </style>

  <!-- Bootstrap -->

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

  <div id="m_multigod" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header form-inline">

          <div class="alert alert-danger" id="m_blank-alert" aria-live="rude" role="alert" hidden>

            <label for="m_alt_godname">{% trans %}Please enter godown name!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="m_addressblank-alert" aria-live="rude" role="alert" hidden>

            <label for="m_alt_godaddress">{% trans %}Please enter godown Address!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="m_contactblank-alert" aria-live="rude" role="alert" hidden>

            <label for="m_alt_godcontact">{% trans %}Please enter godown Contact!{% endtrans %}</label>
          </div>

          <div class="alert alert-danger" id="m_duplicate-alert" aria-live="rude" role="alert" hidden>

            <label for="m_alt_godname">{% trans %}Godown already exists!{% endtrans %}</label>
          </div>
          <span style="margin:auto; display:table;"><strong>{% trans %}Multiple Godowns{% endtrans %}</strong></span>
        </div>
        <div class="modal-body shadow">
          <div class='table-responsive'>
            <table id="m_godtable" class="table table-condensed table-fixedheader">
              <thead>
                <tr>
                  <th class="col-xs-3">{% trans %}Godown Name{% endtrans %}</th>
                  <th class="col-xs-4">{% trans %}Godown Address{% endtrans %}</th>
                  <th class="col-xs-3">{% trans %}Godown Contact{% endtrans %}</th>
                  <th class="col-xs-2">{% trans %}Remove{% endtrans %}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="col-xs-3">
                    <input type="text" id="m_alt_godname"class="form-control input-sm m_godname" placeholder="Godown Name">
                  </td>
                  <td class="col-xs-4">
                    <input type="text" id="m_alt_godaddress"class="form-control input-sm m_godaddress" placeholder="Godown Address">
                  </td>
                  <td class="col-xs-3">
                    <input type="text" id="m_alt_godcontact"class="form-control input-sm m_godcontact" placeholder="Godown Contact">
                  </td>
                  <td class="col-xs-2">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div class="modal-footer">

          <button type="button" id ="m_cancel" class="btn btn-warning btnfocus" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
          <button type="button" id="god_add"  class="btn btn-success btnfocus" accesskey="v">{% trans %}Sa<u>v</u>e{% endtrans %}</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/multiplegodowns.js')}}"></script>
</body>
</html>
